<div class="container-fluid py-5" id="about">
    <div class="container">
        <div class="row align-items-center pb-1">
            <div class="col-lg-5">
                <img class="img-thumbnail p-5" src="assets/img/sirine.png" alt="width:50 height:50;">
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0">
                <small class="bg-primary text-white text-uppercase font-weight-bold px-1">Who I'am</small>
                <h1 class="mt-2 mb-4  text-uppercase font-weight-bold px-1">About Me</h1>
                <p class="mb-4">Currently, I am a Software Engineering graduated from the National School of Engineers of Carthage,I am looking for a new opportunity of job to enrich my professional experience and deepen my knowledge .Autonomous, people oriented and highly motivated, I am ecstatic to have the opportunity to demonstrate my technical expertise and leadership abilities.</p>
                <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">Download CV(french) </a>
            </div>
</div>
