<article id="eductions" style="margin-top:70px;">
  <div class="container-fluid py-5" >

        <div class="container">
          <div class="h4 text-center mb-4 title ">EDUCATIONS</div>
          <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom"  >
                <div class="row" style="margin-left:1px ;">
                    <div class="col-md-3 bg-secondary " >
                      <div class="card-body ">

                          <div  style="text-align:center " class=" text-white ">
                            <p  style="color: #FDAC53;">2018 - 2021</p>
                            <h5 style="color: white;">Engineering cycle in Computer Engineering</h5>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-9 " >
                      <div class="card-body ">

                          <div  >
                            <p>Engineering cycle in Computer Engineering</p>
                            <div class="h5">National school of engineers of Carthage-ENICAR</div>
                          </div>
                      </div>
                    </div>
                  </div>
               </div>
           
        
            <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom"  >
              <div class="row" style="margin-left:1px ;">
                  <div class="col-md-3 bg-secondary " >
                    <div class="card-body ">

                        <div  style="text-align:center">
                          <p  style="color: #FDAC53;">2016 - 2018</p>
                          <div class="h5" style="color: white;">Math-physics preparatory cycle</div>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-9 " >
                    <div class="card-body ">
                      <div>
                          <p>Math-physics preparatory cycle</p>
                          <div class="h5">Preparatory Institute for Engineering Studies of Nabeul - IPEIN</div>
                        </div>
                    </div>
                  </div>
                </div>
             </div>
        
          <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom"  >
            <div class="row" style="margin-left:1px ;">
                <div class="col-md-3 bg-secondary " >
                  <div class="card-body ">

                      <div  style="text-align:center">
                        <p style="color: #FDAC53;">2015 - 2016</p>
                        <div class="h5" style="color: white;">Baccalaureate in Mathematics</div>
                      </div>
                  </div>
                </div>
                <div class="col-md-9 " >
                  <div class="card-body ">

                      <div  >
                        <p>Baccalaureate in Mathematics</p>
                        <div class="h5">Technical high school of Menzel Temime-Nabeul-Tunisia</div>
                      </div>
                  </div>
                </div>
              </div>
         </div>
         </div>
         </div>
         
</article>