
    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-white mt-5 pt-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="." class="navbar-brand">
                    <h2 class="text-white "><span class="text-primary">S</span>irine<span class="text-primary">S</span>abbeh</h2>
                </a>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="."><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="https://www.facebook.com/sirin.sabah.97/"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="https://www.linkedin.com/in/sirine-sabbeh-468954196/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="."><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="font-weight-bold text-primary mb-4">Quick Links</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="#about"><i class="fa fa-angle-right text-primary mr-2"></i>About</a>
                    <a class="text-white mb-2" href="#experience"><i class="fa fa-angle-right text-primary mr-2"></i>Experience</a>
                    <a class="text-white mb-2" href="#projects"><i class="fa fa-angle-right text-primary mr-2"></i>Projects</a>
                    <a class="text-white mb-2" href="#skills"><i class="fa fa-angle-right text-primary mr-2"></i>Skills</a>
                    <a class="text-white mb-2" href="#eductions"><i class="fa fa-angle-right text-primary mr-2"></i>Education</a>
                    <a class="text-white mb-2" href="#contact"><i class="fa fa-angle-right text-primary mr-2"></i>Contact</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="font-weight-bold text-primary mb-4">Popular Links</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="#about"><i class="fa fa-angle-right text-primary mr-2"></i>About</a>
                    <a class="text-white mb-2" href="#experience"><i class="fa fa-angle-right text-primary mr-2"></i>Experience</a>
                    <a class="text-white mb-2" href="#projects"><i class="fa fa-angle-right text-primary mr-2"></i>Projects</a>
                    <a class="text-white mb-2" href="#skills"><i class="fa fa-angle-right text-primary mr-2"></i>Skills</a>
                    <a class="text-white mb-2" href="#eductions"><i class="fa fa-angle-right text-primary mr-2"></i>Education</a>
                    <a class="text-white mb-2" href="#contact"><i class="fa fa-angle-right text-primary mr-2"></i>Contact</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="font-weight-bold text-primary mb-4">Get In Touch</h5>

                <p><i class="fa fa-map-marker-alt text-primary mr-2"></i>Ariana -Tunisia 2085</p>
                <p><i class="fa fa-phone-alt text-primary mr-2"></i>+216 56 992 083</p>
                <p><i class="fa fa-envelope text-primary mr-2"></i>sabbahcyrine@gmail.com</p>
            </div>
        </div>
    </div>
    <!-- Footer End -->
  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-up"></i></a>